[submodule "themes/nuo"]
	path = themes/nuo
	url = https://github.com/laozhu/hugo-nuo.git
[submodule "themes/dark"]
	path = themes/dark
	url = https://github.com/comfusion/after-dark.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/nuo_cdnless"]
	path = themes/nuo_cdnless
	url = https://gitgud.io/rootkit.ty/hugo-nuo-cdnless.git
